.album__title {
    font-weight: 600;
    font-size: 31px;
    color: #616161;
    text-align: center;
    padding-top: 25px;
    margin: 35px;
}

.album__owner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album__grid {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 32px 8px;
}

.album__grid__item {
    transform: scale(0.97);
    box-shadow: 0 0 16px #e5e5e5;
    border-radius: 10px;
    min-height: 81px;
    cursor: pointer;
    position: relative;

    &:hover {
        transition: .2s;
        transform: scale(1);
        border-radius: 10px;
        font-weight: bold;
    }

    &__thumbnail {
        border-radius: 10px 10px 0 0;
        min-height: 150px;
        min-width: 150px;
        width: 100%;
    }

    &__title {
        font-size: 14px;
        line-height: 21px;

        font-weight: 500;
        padding: 8px 12px;
        background-color: #ffffff;
        border-radius: 0 0 10px 10px;

        >span {
            text-align: center;
            color: #616161;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
        }

    }
}

.ablum__like {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 12px;
    top: 12px;

    &__icon {
        width: 28px;
        height: 28px;

        path {
            fill: white;
            stroke: #616161;
        }

        &:hover {
            path {
                fill: rgb(207, 47, 47);
                stroke: white;
            }
        }

        &--liked {
            @extend .ablum__like__icon;

            path {
                fill: rgb(207, 47, 47);
                stroke: white;
            }
        }
    }



}

.modal__detail {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;

    height: 85vh;

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;


    @include for-size(lg) {
        flex-direction: row;
        border-radius: 0 10px 10px 0;
    }

    >img {
        height: 150px;
        object-fit: cover;

        @include for-size(md) {
            height: 50%;
        }

        @include for-size(lg) {
            height: 100%;
        }

    }

    &__comment {
        padding: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;


        >form {
            display: flex;
            flex-direction: column;

            label {
                color: #0069FE;
            }

            input,
            textarea {
                border: 1px solid #616161;
                border-radius: 4px;
                margin: 2px 0 12px;
                padding: 4px 8px;
                max-width: 400px;
            }

            button {
                color: #ffffff;
                background-color: #0069FE;
                border: none;
                border-radius: 4px;
                padding: 4px 8px;
            }
        }

        &__item {
            margin-bottom: 12px;
        }
    }

}